.containerApp {
  margin: 0 20em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width:1280px){
	.containerApp{
    margin: 0 4em;
	}
}

@media only screen and (max-width:768px){
	.containerApp{
    margin: 0 .2em;
	}
}