@import './normalize.css';

*{
  font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}